table, th, td {
    border:1px solid #bebebe;
    border-collapse: collapse;
    font-family: barlow light;
  }

  p {
      font-size: 14px;
  }

  h1 {
      text-align: center;
  }

  th {
      background-color: #96E6E6;
      padding: 8px;
  }

  td {
    padding: 8px;
  }

  tr:nth-child(even){background-color: #bebebe;}